h1 {
  background-color: #ea5169;
  text-align: center;
  padding: 2% 15%;
  margin: auto;

}
.picturestop {
  display: flex;
wding:0% 5%;
justify-content: center;
margin: auto;
}
.pictures {
display: flex;
padding:0% 5%;
justify-content:;
#web {
  font-family: sans-serif;
}
h2 {
  font-weight: 100;
  font-size: bold;
  }
#list{
  list-style-type: none;
  padding: 0 5%;
  text-align: center;
}
.bottom{
  position: fixed;
  background-color:#ea5169;
}
