.front {
   background-image: url(https://i.ndtvimg.com/i/2018-05/watermelon_620x330_51526041413.jpg);
    font-family: sans-serif;
    background-attachment: scroll;
  }
.hh {
  background-color: #ea5169;
  text-align: center;
  padding: 10% 15%;
  margin: auto;

}
.picturestop {
  display: flex;
justify-content: center;
margin: auto;
}
.pictures {
display: flex;
padding:0% 5%;
justify-content:;
{ background-color: lime;
  font-family: sans-serif;
}
h2 {
  font-weight: 100;
  font-size: bold;
  }
#list{
  list-style-type: none;
  padding: 0 5%;
  text-align: center;
}
.bottm{

  background-color:red;
}
