.front {
   background-image: url(https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/2018-12/10889-The_Watermelon_Diet_Fact_or_Fiction-_1296x728-header.jpg?w=1155);
    font-family: sans-serif;
    background-attachment: fixed;
  font-weight: bold;
  }
.hh {
  background-color: #ea5169;
  text-align: center;
  padding: 5% 15%;
  margin: 0;

}
.picturestop {
  display: flex;
justify-content: center;
margin: auto;
}
.pictures {
display: flex;
padding:0% 5%;
justify-content: space-between;

}
.pictures img {
  border-radius: 80%;
}
h2 {
  font-weight: 100;
  font-size: bold;
  }
#list{
  list-style-type: none;
  padding: 0 5%;
  text-align: left;
  justify-content: space-around;
}
footer {
  display: grid;
  margin: 0;
  background-color:#ea5169;
  padding: 0 5%;
}
